/* Felles */
body {
    margin: 0;
    overflow: hidden;
}
.bakgrunn {
    width: 100%;
    height: 100vh;
    background-color: deeppink;
    text-align: center;
}

/* welcome */
h1 {
    margin: 0;
    font-size: 80px;
    color: white;
    font-family: Bevan;
    line-height: 150px;
}
.container {
    background-color: deepskyblue;
    width: 50%;
    height: 150px;
    position: absolute;
    top: 50%;
    margin-top: -75px;
    left: 25%;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.container:hover, .container:focus, .container:active {
    box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* meny */
.meny {
    display: flex;
    width: 100%;
    height: 50px;
    font-family: "arial";
    font-weight: bold;
    line-height: 50px;
    transition: .3s ease-in-out;
}
.meny a {
    height: 100%;
    flex: 1;
    background-color: deepskyblue;
    text-decoration: none;
    color: white;
}
.knapp:hover {
    background-color: white;
    color: deepskyblue;
}
.meny:hover + img {
  animation-name: bildeUt;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
img {
  width: auto;
  height: 100vh;
  animation-name: bildeInn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.target {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  z-index: 3;
  animation-name: targetUt;
  animation-duration: .1s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* keyframes */
@keyframes velkommenUt {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-70vh);
    }
}
@keyframes bildeInn {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes bildeUt {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}
@keyframes menyInn {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes targetUt {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50px);
    }
}
